{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Ponto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="{% url 'inicio' %}">Início</a></li>
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <li><a href="{% url 'listar_profissionais' %}">Profissionais</a></li>
            <li><a href="{% url 'listar_folhas' %}">Folhas de Ponto</a></li>
            <li><a href="{% url 'chat_gestor' %}">Fale com os profissionais</a></li>
            {% else %}
            <li><a href="{% url 'cadastro_profissional_usuario' %}">Meus Dados</a></li>
            <li><a href="{% url 'visualizar_folha' user.profissional.id %}">Minha Folha</a></li>
            <li><a href="{% url 'chat' %}">Falar com o Gestor</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Sair</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <hr>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>

</html>