{% extends "ponto/base.html" %}

{% block content %}
<h2>{% if modo_edicao %}Editar Profissional{% else %}Cadastrar Profissional{% endif %}</h2>

<form method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Dados Pessoais</legend>
    {{ user_form.first_name.label_tag }} {{ user_form.first_name }}<br>
    {{ user_form.last_name.label_tag }} {{ user_form.last_name }}<br>
    {{ user_form.email.label_tag }} {{ user_form.email }}<br>
  </fieldset>

  <fieldset>
    <legend>Dados Profissionais</legend>
    {{ profissional_form.cpf.label_tag }} {{ profissional_form.cpf }}<br>
    {{ profissional_form.gestor.label_tag }} {{ profissional_form.gestor }}<br>
    {{ profissional_form.data_admissao.label_tag }} {{ profissional_form.data_admissao }}<br>
    {{ profissional_form.horario_entrada.label_tag }} {{ profissional_form.horario_entrada }}<br>
    {{ profissional_form.intervalo_inicio.label_tag }} {{ profissional_form.intervalo_inicio }}<br>
    {{ profissional_form.intervalo_fim.label_tag }} {{ profissional_form.intervalo_fim }}<br>
    {{ profissional_form.horario_saida.label_tag }} {{ profissional_form.horario_saida }}<br>
  </fieldset>

  {% if not somente_visualizacao %}
  <button type="submit" onclick="return confirmarAcao('Deseja salvar este cadastro?')">Salvar</button>
  {% endif %}

  <a href="{% url 'listar_profissionais' %}">Cancelar</a>
</form>

<script src="{% static 'js/validacoes.js' %}"></script>
<script src="{% static 'js/popups.js' %}"></script>
{% endblock %}
