<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Ponto{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/cadastrar">Cadastro</a></li>
            <li><a href="/registrarponto">Registrar Ponto</a></li>
            <li><a href="/folhadeponto">Folha de Ponto</a></li>
            <li><a href="/">Sair</a></li>
        </ul>
    </div>
    {% block conteudo %} {% endblock conteudo %}
</body>
</html>