{% extends 'base.html' %}
{% block title %}Folha de Ponto{% endblock title %}

{% block conteudo %}
<div class="container">
    <h1>Folha de Ponto – {{ mes }}/{{ ano }}</h1>

    <div class="navegacao-meses">
        <a href="?mes={{ mes_anterior }}&ano={{ ano_anterior }}">← Mês Anterior</a>
        |
        <a href="?mes={{ mes_proximo }}&ano={{ ano_proximo }}">Próximo Mês →</a>
    </div>

    <table class="tabela-folha-ponto">
        <thead>
            <tr>
                <th>Data</th>
                <th>Entrada</th>
                <th>Pausa</th>
                <th>Retorno</th>
                <th>Saída</th>
                <th>Jornada Realizada</th>
            </tr>
        </thead>
        <tbody>
            {% for data, tipos in dias %}
            <tr class="{% if tipos.entrada == '-' and tipos.saida == '-' %}sem-ponto{% endif %}">
                <td>{{ data|date:"d/m/Y" }}</td>
                <td>{{ tipos.entrada }}</td>
                <td>{{ tipos.pausa }}</td>
                <td>{{ tipos.retorno }}</td>
                <td>{{ tipos.saida }}</td>
                <td>{{ tipos.total }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock conteudo %}