{% extends 'base.html' %}
{% block title %}Registrar de ponto{% endblock title %}
{% block conteudo %}
<div class="containerBotoes">
    <h1>Registro de Ponto Eletrônico</h1>
    <div id="relogio" class="relogio">00:00:00</div> <!-- Elemento para exibir a hora -->
    <form id="formRegistro" method="post">
    {% csrf_token %}
    <button type="submit" name="tipo" value="entrada" class="button button-entrada">Entrada</button>
    <button type="submit" name="tipo" value="pausa" class="button button-pausa">Pausa</button>
    <button type="submit" name="tipo" value="retorno" class="button button-retorno">Retorno</button>
    <button type="submit" name="tipo" value="saida" class="button button-saida">Saída</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</div>
<script src="../static/js/script.js"></script>
{% endblock conteudo %}
